{%- extends "bootstrap/base.html" %}
 
 {# Set default title #}
 {% block title %}Pizza Palace{% endblock %}
 
 {# Fix legacy background #}
 {% import "bootstrap/fixes.html" as fixes %}
 {% block head %}
 {{super()}}
 {{fixes.ie8()}}
 {%- endblock %}
 
 {# Add CSS Files #}
 {% block styles -%}
     {{super()}}
     <link rel="stylesheet" type="text/css"
           href="{{url_for('static', filename='pizza-palace.css')}}">
 {% endblock %}
 
 {# Navbar #}
 {% block navbar %}
 {{nav.frontend_top.render()}}
 {% endblock %}